body {
    background-color: royalblue;
}

a:link {
    color:black;
}

a:visited {
    color: black;
}

a:hover {
    font-weight: 700;
}

#pageTitle {
    color: yellow;
    text-align: center;
    font-weight: 700;
    text-shadow: -1px 0 black, 0 6px black, 4px 0 black, 0 -1px black;
}

table {
    border-style: solid;
    border-width: 3px;
}

.trBorder {
    border-style: solid;
    border-width: 1px;
    border-color: black;
}

.customMargin {
    margin-top: 2%;
    margin-left: 10%;
    margin-right: 10%;
}

#heightId {
    height: 600px;
}

.height500 {
    height: 525px;
    border-width: 2px;
    border-color: black;
    border-style: solid;
    overflow: scroll;

}

.height100 {
    height: 75px;
    border-width: 2px;
    background-color: royalblue;
    color: yellow;
    font-weight: 700;
    /* border-color: black;
    border-style: solid; */

}

#writeBlog {
    color: yellow;
    display: inline;
    font-weight: 700;
    text-shadow: -1px 0 black, 0 6px black, 4px 0 black, 0 -1px black;

}

.readColor {
    background-color: #d6d8db;
}

.wordBreak {
    word-break: keep-all;
}

.welcomeP {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.moveBtn {
    text-align: center;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.forBorder {
    display: block;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    width: 600px;
}

.user {
    width: 250px;
    height: 40px;
    color: yellow;
    padding-left: 1px;
}

nav {
    background-color: black;
}